#im1{ 
		margin:0;
		border : 1px solid white;
		width : 15%;
		height: 7%;
		

}
#im2{   text-align: right;
		border : 1px solid white;
		width : 15%;
		position: absolute;
		float:right;
		height: 7%;
		margin-left:80%;
		margin-top:0%;
		
		

}
body{ width : 50%;
      background: black;
	  }